---

---

<div class="p-4 bg-gray-100 h-full overflow-auto">
  <form id="eventForm" class="flex flex-col space-y-4">
    <div>
      <label for="title" class="block text-sm font-medium text-gray-700"
        >Titre de l'événement</label
      >
      <input
        type="text"
        id="title"
        name="title"
        value="Titre par défaut"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div>
      <label for="description" class="block text-sm font-medium text-gray-700"
        >Description de l'événement</label
      >
      <textarea
        id="description"
        name="description"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      >
        Description par défaut
      </textarea>
    </div>
    <div>
      <label for="startDate" class="block text-sm font-medium text-gray-700"
        >Date de début</label
      >
      <input
        type="datetime-local"
        id="startDate"
        name="startDate"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div>
      <label for="endDate" class="block text-sm font-medium text-gray-700"
        >Date de fin</label
      >
      <input
        type="datetime-local"
        id="endDate"
        name="endDate"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div>
      <label for="latitude" class="block text-sm font-medium text-gray-700"
        >Latitude</label
      >
      <input
        type="text"
        id="latitude"
        name="latitude"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div>
      <label for="longitude" class="block text-sm font-medium text-gray-700"
        >Longitude</label
      >
      <input
        type="text"
        id="longitude"
        name="longitude"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <button
      type="submit"
      class="py-2 px-4 bg-indigo-600 text-white font-bold rounded-md hover:bg-indigo-700"
    >
      Créer l'événement
    </button>
  </form>

  <form id="clearMarkersForm" class="mt-4 flex flex-col space-y-4">
    <button
      type="submit"
      class="py-2 px-4 bg-red-600 text-white font-bold rounded-md hover:bg-red-700"
    >
      Vider les marqueurs
    </button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    function getCurrentDateTime() {
      const now = new Date();
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, "0");
      const day = String(now.getDate()).padStart(2, "0");
      const hours = String(now.getHours()).padStart(2, "0");
      const minutes = String(now.getMinutes()).padStart(2, "0");

      return `${year}-${month}-${day}T${hours}:${minutes}`;
    }

    const startDateInput = document.getElementById(
      "startDate",
    ) as HTMLInputElement;
    const endDateInput = document.getElementById("endDate") as HTMLInputElement;

    if (startDateInput) {
      startDateInput.value = getCurrentDateTime();
    }

    if (endDateInput) {
      endDateInput.value = getCurrentDateTime();
    }

    if (startDateInput && endDateInput) {
      startDateInput.addEventListener("change", () => {
        // Définissez la valeur du champ de date de fin à partir de la date de début
        endDateInput.value = startDateInput.value;
      });
    }
  });
</script>
